{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-7">
        <h2>{{ name }}</h2>
        <p>
            {{ about }}
        </p>
    </div>
</div>
<br>
<div class="row">
<div class="col-5">
    <h4>Summary</h4>
    <table class="table">
    <tbody>
    {% for b in balances %}
        <tr>
            <td>{{ b.name }}</td>
            {% if b.balance < 0 %}
                <td class="text-danger">{{ b.balance }}</td>
            {% else %}
                <td class="text-success">{{ b.balance }}</td>
            {% endif %}
        </tr>
    {% empty %}
        <tr><td>Something super strange! This community has no members. The website should have crashed anyway.</td></tr>
    {% endfor %}
    </tbody>
    </table>
    <small>Negative balance means the person owes to the people with positive balance.</small>
</div>
</div>
<br>
<div class="row">
<div class="col-12">
    <h4>Transaction history</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Description</th>
            {% if owner %}
            <th scope="col">Action</th>
            {% endif %}
        </tr>
        </thead>
    <tbody>
        {% for tx in transactions %}
            <tr {% if tx.target != null %}class="text-muted"{% endif %}>
                <td>{{ tx.date }}</td>
                <td>{{ tx.amount }}</td>
                <td>{{ tx.who }}</td>
                <td>{% if tx.target == null %}Shop{% else %}{{ tx.target }}{% endif %}</td>
                <td>{{ tx.description }}</td>
                {% if owner %}
                <td><a href="#TODO">X</a></td>
                {% endif %}
            </tr>
        {% empty %}
            <tr>
                <td colspan="5">No transactions</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}
