<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'bootstrap4/bootstrap.min.css' %}" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" />
  <title>{% block title %}Tlitter{% endblock %}</title>
  {# <link rel="stylesheet" href="{% static 'custom_styles.css' %}" /> #}
</head>

<body>
   <nav class="navbar navbar-expand navbar-dark bg-dark">
     <a class="navbar-brand" href="#">Webfin</a>
     <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
    </button>-->
     <div class="collapse navbar-collapse" id="navbar">
       <ul class="navbar-nav mr-auto">
         {% block menu %}
            <li class="nav-item">
              <a class="nav-link" href="#">XYZ</a>
            </li>
         {% endblock %}
       </ul>
       <div>
          {% block userbar %}
               {% if user.is_authenticated %}
               <ul class="navbar-nav">
                  <li class="nav-item">
                    <span class="navbar-text">Logged in as</span>
                    <a class="edit_profile" href="#">{{ user.first_name }} {{ user.last_name }}</a>
                  </li>
                  <li class="nav-item">&nbsp;</li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'common:logout' %}">Logout</a>
                  </li>
               </ul>
               {% else %}
               <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'common:login' %}">Log-in</a>
                  </li>
               </ul>
               {% endif %}
          {% endblock %}
       </div>
     </div>
   </nav>

   <br>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
  <br><br>

</body>

</html>